html {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}
body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: black;
}
#app {
  width: 100%;
  height: 100%;
}

/*# sourceMappingURL=presentation.css.map */
