<template>
	<div><!-- Wrap your entire app inside .window -->
		<canvas id="pdf-canvas" style="display: none;"></canvas>
		<div class="window" v-show="presentWin == null">
			<top-bar :file="file" @openFile="openFile" @present="present"></top-bar>

			<no-file :file="file" v-if="!pdfReady"></no-file>
			<main-window :pdfDoc="pdfDoc" :slides="slides" v-else @change-url="changeUrl" @present="present"></main-window>
		</div>
		<presenter-notes v-if="presentWin" :pdfDoc="pdfDoc" :slides="slides" :presentWin="presentWin" :url="url" @close="closePresentation"></presenter-notes>
	</div>
</template>

<script>
	Vue.component('top-bar', require('./topBar.vue'));
	Vue.component('no-file', require('./noFile.vue'));
	Vue.component('main-window', require('./mainWindow.vue'));
	Vue.component('presenter-notes', require('./presenterNotes.vue'));
	Vue.component('spinner', require('../../../node_modules/vue-spinner/src/FadeLoader.vue'));

	require('pdfjs-dist');
	PDFJS.workerSrc = 'js/worker.js';
	var fs = require('fs');
	var electron = require('electron');

	const {app, Menu, BrowserWindow, dialog} = electron.remote;


	export default{
		data: function () {
			return {
				file: null,
				pdfDoc: null,
				presentWin: null,
				canvas: null,
				context: null,
				slides: {},
				pdfReady: false,
				pdfRatio: (4 / 3),
				scale: null,
				presentMenuItem: null,
				url: null
			};
		},
		watch: {
			file: function (value) {
				electron.remote.getGlobal('shared').file = value;
				electron.remote.getCurrentWindow().setRepresentedFilename(value);
				electron.remote.getCurrentWindow().setTitle(value + ' - Beam');
			},
			pdfReady: function (value) {
				if(this.presentMenuItem){
					this.presentMenuItem.enabled = value;
				}
			}
		},
		mounted: function () {

			this.canvas = this.$el.querySelector('#pdf-canvas');
			this.context = this.canvas.getContext('2d');
			this.context.fillStyle = "white";

//			this.resizeCanvas();

			let obj = this;

			console.log(electron);

			electron.screen.on('display-added', function(e, display){
				obj.resizeCanvas();
				if(obj.file != null){
					obj.preparePdf();
				}
			});

			window.onbeforeunload = function(){
				obj.closePresentation();
			};

			this.renderMenu();
		},
		methods: {
			openFile: function () {
				let files = dialog.showOpenDialog({
					properties: ['openFile'],
					filters: [{name: 'PDF Documents', extensions: ['pdf']}]
				});
				this.file = files[0];
				this.preparePdf();
			},
			preparePdf: function () {
				var obj = this;
				obj.rendered = 0;
				var data = new Uint8Array(fs.readFileSync(this.file));
//				obj.canvas.style.display = 'block';
				PDFJS.getDocument(data).then(function (pdfDocument) {
					obj.pdfDoc = pdfDocument;

					obj.pdfDoc.getPage(1).then(function (page) {
						let viewport = page.getViewport(1);
						obj.pdfRatio = (viewport.width / 2) / viewport.height;
						obj.resizeCanvas();
						obj.renderPage(1);
					});
				});
			},
			resizeCanvas: function () {

				let obj = this;

				let displays = electron.screen.getAllDisplays();

				let biggestW = 0, biggestH = 0;

				displays.forEach(function (display) {
					let width = display.size.width;
					let height = display.size.height;

					let ratio = width / height;

					let canvasW, canvasH;

					if (ratio > obj.pdfRatio) {
						// WIDTH BIGGER
						canvasH = height;
						canvasW = height * obj.pdfRatio;
					} else {
						// HEIGHT BIGGER
						canvasW = width;
						canvasH = width * (1 / obj.pdfRatio);
					}

					if(canvasW > biggestW){
						biggestW = canvasW;
						biggestH = canvasH;
					}
				});

				this.canvas.width = biggestW;
				this.canvas.height = biggestH;
			},
			present: function () {
				if (this.presentWin != null) {
					return;
				}

				let displays = electron.screen.getAllDisplays();
				let externalDisplay = displays.find((display) => {
					return display.bounds.x !== 0 || display.bounds.y !== 0
				});

				console.log(externalDisplay);

				this.presentWin = new BrowserWindow({
					x: externalDisplay.bounds.x,
					y: externalDisplay.bounds.y,
					fullscreen: true,
					focusable: false,
					autoHideMenuBar: true,
					backgroundColor: '#000000'
				});
				this.presentWin.loadURL(`file://${electron.remote.app.getAppPath()}/presentation.html`);
				var obj = this;
				this.presentWin.on('closed', function () {
					obj.presentWin = null;
				});
			},
			closePresentation: function() {
				if(this.presentWin){
					this.presentWin.close();
				}
			},
			renderPage: function (num) {
				var obj = this;
				this.pdfDoc.getPage(num).then(function (page) {

					if (obj.scale == null) {
						var baseViewport = page.getViewport(1);
						obj.scale = obj.canvas.height / baseViewport.height;
					}

					var viewport = page.getViewport(obj.scale);

					//
					// Render PDF page into canvas context
					//
					var renderContext = {
						canvasContext: obj.context,
						viewport: viewport
					};
					page.render(renderContext).then(() => {
						let slideImg = obj.canvas.toDataURL();

						obj.context.clearRect(0, 0, obj.canvas.width, obj.canvas.height);
						obj.context.translate(-(obj.canvas.width), 0);
//						obj.context.fillRect(0,0, obj.canvas.width * 2, obj.canvas.height);
						page.render(renderContext).then(() => {
							let notesImg = obj.canvas.toDataURL();
							obj.context.clearRect(0, 0, obj.canvas.width, obj.canvas.height);
							obj.context.translate(obj.canvas.width, 0);
//							obj.context.fillRect(0,0, obj.canvas.width * 2, obj.canvas.height);

							obj.slides[num] = {
								slide: slideImg,
								notes: notesImg
							};

							if (num < obj.pdfDoc.numPages) {
								obj.renderPage(num + 1);
							} else {
								electron.remote.getGlobal('shared').slides = obj.slides;
								obj.pdfReady = true;
							}
						});

					});

				});
			},
			renderMenu: function () {
				var obj = this;
				const template = [
					{
						label: 'File',
						submenu: [
							{
								label: 'Open',
								accelerator: 'CmdOrCtrl+O',
								click(item, focusedWindow){
									obj.openFile();
								}
							}
						]
					},
					{
						label: 'View',
						id: 'view',
						submenu: [
							{
								label: 'Present',
								accelerator: 'CmdOrCtrl+P',
								enabled: false,
								id: 'present',
								click (item, focusedWindow) {
									obj.present();
								}
							},

							{
								type: 'separator'
							},
							{
								role: 'togglefullscreen'
							}
						]
					},
					{
						role: 'window',
						submenu: [
							{
								role: 'minimize'
							},
							{
								role: 'close'
							}
						]
					}
				];

				if (process.platform === 'darwin') {
					template.unshift({
						label: app.getName(),
						submenu: [
							{
								role: 'about'
							},
							{
								type: 'separator'
							},
							{
								role: 'services',
								submenu: []
							},
							{
								type: 'separator'
							},
							{
								role: 'hide'
							},
							{
								role: 'hideothers'
							},
							{
								role: 'unhide'
							},
							{
								type: 'separator'
							},
							{
								role: 'quit'
							}
						]
					});
					// Window menu.
					template[3].submenu = [
						{
							label: 'Close',
							accelerator: 'CmdOrCtrl+W',
							role: 'close'
						},
						{
							label: 'Minimize',
							accelerator: 'CmdOrCtrl+M',
							role: 'minimize'
						},
						{
							type: 'separator'
						},
						{
							label: 'Bring All to Front',
							role: 'front'
						}
					]
				}

				const menu = Menu.buildFromTemplate(template);
				Menu.setApplicationMenu(menu);

				if(process.platform == "darwin"){
					this.presentMenuItem = menu.items[2].submenu.items[0];
				} else {
					this.presentMenuItem = menu.items[1].submenu.items[0];
				}
			},
			changeUrl: function (value) {
				this.url = value;
			}
		}
	}
</script>
