<template>
	<div class="window-content" @keyup.right="prevPage">
		<div class="pane-group">
			<div class="pane-sm sidebar">
				<sidebar-thumb v-for="n in numPages" v-bind:page="n" v-bind:image="slides[n].slide"
							   v-bind:currentPage="currentPage" @click.native="currentPage = n"></sidebar-thumb>
			</div>
			<div class="pane main-pane">
				<div class="canvases padded-more">
					<div class="canvas-container">
						<img id="canvas-slide" :src="slides[currentPage].slide" />
					</div>
					<div class="canvas-container">
						<img id="canvas-notes" :src="slides[currentPage].notes" />
					</div>
				</div>
				<footer class="toolbar toolbar-footer" style="text-align: center;">
					<div class="toolbar-actions">
						<span class="icon icon-network"></span>
						<input type="url" class="form-control" placeholder="Demo URL" v-model="url" style="width: 250px;">
					</div>
				</footer>
			</div>
		</div>
	</div>
</template>

<style lang="less" scoped>
	.sidebar {
		padding: 1em;
		overflow-y: scroll;
	}
	.main-pane{
		display: flex;
		flex-direction: column;
	}
	.canvases{
		flex:1;
		display: flex;
		justify-content:center;
		align-items:center;
	}
	.canvases .canvas-container{
		flex: 1;
	}
	.canvases img{
		width: 100%;
		box-shadow: 0 .5em 1em rgba(0,0,0,0.2);
	}
	.canvases .canvas-container:not(:last-child){
		margin-right: 20px;
	}
</style>

<script>
	Vue.component('sidebar-thumb', require('./sidebarThumb.vue'));

	export default{
		props: ['pdfDoc', 'slides'],
		data: function () {
			return {
				numPages: null,
				currentPage: 1,
				canvasSlide: null,
				contextSlide: null,
				canvasNotes: null,
				contextNotes: null,
				url: null
			}
		},
		mounted: function () {
			this.numPages = this.pdfDoc.numPages;

			var obj = this;
			document.body.addEventListener('keyup', function(e){
				if(["ArrowRight", "ArrowDown", "PageDown"].indexOf(e.key) > -1){
					obj.nextPage();
				}
				if(["ArrowLeft", "ArrowUp", "PageUp"].indexOf(e.key) > -1){
					obj.prevPage();
				}
			});

		},
		watch: {
			url: function(value){
				this.$emit('change-url', value);
			}
		},
		beforeDestroy: function(){
			document.body.addEventListener('keyup', null);
		},
		methods: {
			present: function(){
				this.$emit('present');
			},
			prevPage: function(){
				if(this.currentPage == 1){
					return;
				}
				this.currentPage--;
			},
			nextPage: function(){
				if(this.currentPage == this.numPages){
					return;
				}
				this.currentPage++;
			}
		}
	}
</script>
