<template>
	<!-- Your app's content goes inside .window-content -->
	<div class="window-content no-file">
		<div>
			<h1 v-if="file == null">No file!</h1>
			<spinner :loading="file != null" color="#999" radius="20px"></spinner>
		</div>
	</div>
</template>

<script>
	export default {
		props: ['file']
	}
</script>

<style lang="less" scoped>
	.no-file {
		display: flex;
		background-color: #DDD;
		color: #999;
		justify-content: center;
		align-items: center;

	h1 {
		font-weight: 300;
		font-size: 4em;
	}

	}
</style>
