<template>
	<div id="presenter-notes" class="window">
		<div class="presentation-progress">
			<div class="presentation-progress-inner" :style="{width: progress}"></div>
		</div>
		<div class="presentation-content">
			<div class="presentation-slide">
				<div class="presentation-slide__inner" :style="{ 'background-image' : 'url(' + slides[currentSlide].notes + ')' }" v-show="!webMode"></div>
				<iframe id="webView" :src="url" frameborder="0" class="presentation-slide__web" v-show="webMode" v-if="url"></iframe>
			</div>
			<aside class="presentation-side">
				<div class="presentation-next">
					<h2>Next slide</h2>
					<img :src="slides[nextSlide].slide">
				</div>
				<div class="presentation-timer">
					<timer :bus="bus"></timer>
				</div>
				<div class="presentation-url" v-if="url">
					<div class="presentation-url-url"><span class="presentation-url-icon icon icon-globe"></span>
					{{ url }}</div>
					<div class="presentation-url-btn">
						<button class="pres-btn" @click="toggleWeb"><span class="icon icon-popup"></span></button>
					</div>
				</div>
				<div class="presentation-list">
					<article v-for="(slide, num) in slides" :class="{ active: currentSlide == num }" @click="currentSlide = parseInt(num)">
						<img :src="slide.slide">
					</article>
				</div>
			</aside>
		</div>
	</div>
</template>

<style lang="less">
	@border: 1px solid #222;

	#presenter-notes{
		display: flex;
		flex-direction: column;
		background-color: #333;
	}
	.presentation-progress{
		height: 20px;
		background-color: #111;
	}
	.presentation-progress-inner{
		height: 100%;
		background-color: #09F;
		width: 0;
	}
	.presentation-content{
		flex:1;
		display: flex;
		align-items:stretch;
	}
	.presentation-slide{
		@padding:40px;
		padding: @padding;
		flex:3;
		display: flex;
		justify-content:center;
		align-items:center;

		&__inner{
			width: 100%;
			height: 100%;
			 background-repeat: no-repeat;
			 background-position: center;
		    background-size: contain;
		}

		&__web{
			 width: 100%;
			 height: 100%;
			 background-color: white;
		 }
	}

	.presentation-side{
		flex:1;
		display: flex;
		flex-direction: column;
		border-left: @border;
		max-width: 300px;
	}

	.presentation-next{

		padding:10px 20px 20px;

		border-bottom: @border;

		img{
			width: 100%;
			height: auto;
		}

		h2{
			font-size: 1em;
			text-transform: uppercase;
			font-weight: bold;
			text-align: center;
			margin-top: 0;
			margin-bottom: 10px;
			color: #999;
		}
	}

	.presentation-timer{
		border-bottom: @border;
	}

	.presentation-url{
		text-align: center;
		border-bottom: @border;
		color: #e0e0e0;
		padding: 1em;

		&-icon{
			color: #9e9e9e;
			 font-size: 1.2em;
		}
	}

	.presentation-list{

		padding: 10px;
		flex:1;
		overflow-y: auto;

		article{
			box-sizing: border-box;
			width: 33%;
			padding: 10px;
			display: inline-block;

			img{
				width: 100%;
				height: auto;
				box-shadow: 0 .2em .5em #222;
			}

			&.active{
				img{
					outline: 2px solid #09F;
				}
			 }
		}
	}

	.pres-btn{
		border: none;
		background: none;
		color: white;
		margin: 0;
		padding: 0 .4em;
		font-size: 1.5em;

		&:focus{
			 outline:none;
		 }
	}
</style>

<script>
	Vue.component('timer', require('./timer.vue'));

	var electron = require('electron');

	function getFrameTargetElement(objI)
	{
		var objFrame = objI.contentWindow;
		if(window.pageYOffset==undefined)
		{
			objFrame = (objFrame .document.documentElement) ? objFrame .document.documentElement : objFrame =document.body;
		}
		//- return computed value
		return objFrame ;
	}

	export default{
		props: ['pdfDoc', 'slides', 'presentWin', 'url'],
		data: function(){
			return {
				currentSlide: 1,
				webMode: false,
				iFrame: null,
				interval: null,
				bus: new Vue()
			}
		},
		computed: {
			'numPages': function(){
				return this.pdfDoc.numPages;
			},
			'progress': function(){
				return ((this.currentSlide / this.numPages) * 100) + '%';
			},
			'nextSlide': function () {
				if(this.currentSlide == this.numPages){
					return this.currentSlide;
				}
				return this.currentSlide + 1;
			}
		},
		watch: {
			currentSlide: function (value) {
				if(this.presentWin){
					this.presentWin.webContents.send('slideChanged', value);
				}
			},
			webMode: function (value){
				let obj = this;
				if(value){
					// TURN ON
					obj.interval = setInterval(function(){
						obj.captureFrame();
					}, 600);
				} else {
					// TURN OFF
					clearInterval(obj.interval);
					if(obj.presentWin){
						obj.presentWin.webContents.send('slideChanged', obj.currentSlide);
					}
				}
			}
		},
		methods:{
			prevPage: function(){
				if(this.currentSlide == 1){
					return;
				}
				this.currentSlide--;
			},
			nextPage: function(){
				if(this.currentSlide == this.numPages){
					return;
				}
				this.currentSlide++;
			},
			toggleWeb: function () {
				this.webMode = !this.webMode;
			},
			captureFrame: function(){
				let obj = this;
				let rect = obj.iFrame.getBoundingClientRect();
				electron.remote.getCurrentWebContents().capturePage({x: rect.left, y: rect.top, width: rect.width, height: rect.height}, function(image){
					if (obj.presentWin) {
						obj.presentWin.webContents.send('webView', image.toDataURL());
                    }
				});
			}
		},
		mounted: function(){
			var obj = this;
			if (obj.url) {
				obj.iFrame = this.$el.querySelector('#webView');

				obj.iFrame.onload = function (e) {
					let frame = getFrameTargetElement(obj.iFrame);
					obj.url = frame.location.href;
					frame.onmousemove = function (e) {
						if (obj.presentWin) {
							obj.presentWin.webContents.send('mouse', e.clientX, e.clientY);
                        }
                    }
                };
            }

			document.body.addEventListener('keyup', function(e){
				if (!obj.webMode) {
					if (["Escape"].indexOf(e.key) > -1) {
						obj.$emit('close');
					}
					if (["ArrowRight", "ArrowDown", "PageDown", "Enter"].indexOf(e.key) > -1) {
						obj.nextPage();
					}
					if (["ArrowLeft", "ArrowUp", "PageUp"].indexOf(e.key) > -1) {
                        obj.prevPage();
                    }
                    if ([" "].indexOf(e.key) > -1) {
                        obj.bus.$emit('toggleTimer');
                    }
                }
			});
		},
		beforeDestroy: function(){
			document.body.addEventListener('keyup', null);
		}
	}
</script>
