<template>

	<div class="timer">
		<div class="timer-time">
			{{ displayTime }}
		</div>
		<div class="timer-controls">
			<button type="button" class="pres-btn" @click="toggle">
				<span class="icon icon-pause" v-show="running"></span>
				<span class="icon icon-play" v-show="!running"></span>
			</button>
			<button type="button" class="pres-btn" @click="reset">
				<span class="icon icon-ccw"></span>
			</button>
		</div>
	</div>

</template>

<style lang="less" scoped>
	.timer{
		padding: 20px;
	}

	.timer-time{
		line-height: 1em;
		font-size: 3em;
		color: white;
		font-weight: 500;
		text-align: center;
	}

	.timer-controls{
		margin-top: 10px;
		text-align: center;
	}

</style>

<script>
	const moment = require('moment');
	require("moment-duration-format");

	export default{
		props: ['bus'],
		data: function(){
			return {
				time: 0,
				running: false,
				interval: null
			}
		},
		computed: {
			displayTime: function(){
				return moment.duration(this.time * 10).format('h:mm:ss', { trim: false });
			}
		},
		mounted: function () {
			let obj = this;
			if(this.bus != null){
				this.bus.$on('toggleTimer', function(){
					obj.toggle();
				});
			}
		},
		methods: {
			toggle: function(){
				if(this.running){
					this.stop();
				} else {
					this.start();
				}
			},
			reset: function(){
				if(this.running){
					this.stop();
				}
				this.time = 0;
			},
			start: function(){
				this.interval = setInterval(() => {
					this.time++;
				}, 10);
				this.running = true;
			},
			stop: function(){
				clearInterval(this.interval);
				this.running = false;
			}
		}
	}
</script>
